body {
    font-family: 'DM Sans', sans-serif, 'Heebo', sans-serif;
}

.header{
    padding: 28px 100px 75px;
    background-color:  #1E3C72 ;
    background-image: url(..//img/header/pattern.png);
    border-radius: none;
    border-bottom-right-radius: 15% 30%;
    position: relative;
}


.header__container{
    box-sizing: border-box;
   

}

.header__content{
    margin: 0 auto;
    max-width: 1140px;
}
.header__top{
    display: flex;
    flex-direction: row;
    margin-bottom: 74px;
    justify-content: space-between;
    margin-right: 0;
}



.logo{
    display: flex;
    flex-direction: row;
    max-width: 130px;
}

.logo__crown{
    margin-right: 10px;
}


.button_one{
    width: 150px;
    height: 50px;
    left: 1436px;
    top: 21px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    padding: 13px 31px;
    background-color: transparent;
}

.button_one:hover{
    background-color: #4f699a;
    cursor: pointer;
}

.header__list{
    display: flex;
    flex-direction: row;
}

.header__ul{
    display: flex;
    flex-direction: row;
}


.header__li{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.header__link{
    font-size: 16px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-right: 5px;
    text-decoration: none;
}

.header__icon{
    color:transparent;
}

.header-rotate-icon{
    display: inline-block;
    transform: rotate(90deg);
    transition: 300ms;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 20px;

}


.bottom-button{
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    color: #0F2137;
    padding: 13px 31px;
    border-radius: 50px;
    background-color: #FFFFFF;
    margin-right: 20px;
}

.button_button:hover{
    background-color: #4f699a;
    cursor: pointer;
}


.header__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    color: #FFFFFF;
    max-width: 507px;
    margin-bottom: 57px;
}

.header_get{
    display: flex;
    flex-direction: row;
}

.get__socials{
    display: flex;
    flex-direction: column;

}

.socials__ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-top: 37px;
    margin-right: 0;
}
.socials__li{
    margin-right: 21px;

}

.socials_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color: #FFFFFF;
    opacity: 0.6;
} 

.header__main{
    display: flex;
    flex-direction:row;
    position: relative;
    justify-content: space-between;
}


.header__left{
    max-width: 642px;
   
}


.header__phone{
    position: absolute;
    max-width: 900px;
    right: -10px;
    top: 15%;
    z-index: 1;
}

.header_img{
    position: absolute;
    right: 15%;
    top: 13%;
    z-index: 0;
}
.header__right{
    max-width: 100%;
}
.header__title{
    max-width: 642px;
    font-weight: 700;
    font-size: 85px;
    line-height: 100px;   
    letter-spacing: -2px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.tube{
   margin-right: 10px;
}


.header-text{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
   text-decoration: none;
   margin-right: 10px;
}
.header__video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
 }


.header__play{
    display: flex;
    flex-direction: row;
}


.header__tube{
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    max-width: 500px;

    position: absolute;
    z-index: 2;
}

.close{
    color:#12316a ;
    font-size: x-large;
    position: absolute;
    top:5px;
    right:-125px;
    cursor: pointer;
}

.quality{
    padding:65px 0 200px;
}


.quality__content{
    margin: 0 auto;
    max-width: 1140px;

}

.quality__top{
    margin: 0 auto;
    max-width: 550px;
    margin-bottom: 78px;
}

 .pretitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #244886;
}

 .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0F2137;
    margin: 0 auto;
    max-width: 510px;
    margin-right: 0;
}

.quality__grid{
    display: grid;
    gap:100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-bottom: 199px;
    margin: 0 auto;
}

.quality__items{
    justify-content: center;
}

.quality img{
    display: block;
    width: 100%;
    max-width: 110px;
    margin: 0 auto;
}

.subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0F2137;
    margin-top: 21px;
}

.text{
    max-width: 265px;
    text-align: center;
    margin-top: 21px;
    margin: 0 auto;
}


.features{
    padding:0 0 219px;
}


.features__content{
    margin: 0 auto;
    max-width: 1140px;

}

.features__top{
    margin: 0 auto;
    max-width: 550px;
    margin-bottom: 78px;
}

.features__grid{
    display: grid;
    gap:100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 199px;
    margin: 0 auto;
}

.features__items{
    justify-content: center;
}

.features img{
    display: block;
    width: 100%;
    max-width: 110px;
    margin: 0 auto;
}

.jackpots{
    padding: auto;
    position: relative;
}

.jackpots__content{
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jackpots__img{
    max-width: 479px;
    width: 100%;
}

.jackpots__top{
    margin-top: 40px;
}

.jackpots .pretitle{
    text-align: start;
}

.jackpots .title{
    text-align: start;
    font-size: 48px;
    line-height: 55px;
    color: #0F2137;
    display: flex;
    align-items: center;
    letter-spacing: -1.5px;
}